<h1>Auth Sample</h1>

<button (click) = 'login()'[hidden]='loggedIn'>Login</button>
<button (click) = 'logout()'[hidden]='!loggedIn'>Logout</button>

<div *ngIf="loggedIn">

    <h2>We are logged in</h2>

    <h2>Profile</h2>

    <button (click)="getProfile()">Get Profile Information</button>
    <div *ngIf="profile"> 
        <p>Display Name: {{ profile?.displayName }}</p>
    </div>

    <h2>Get Users (MS Graph)</h2>

    <input type="text" [(ngModel)]="userNameFilter">
    <button (click)="getUsers()">Search</button>
    <div *ngIf="users">
        <ul>
            <li *ngFor="let u of users">
                    {{u.displayName}}
            </li>
        </ul>
    </div>

    <h2>Get friends</h2>

    <button (click)= "getFriends()">Get friends</button>
    <div *ngIf="friends">
        <ul>
            <li *ngFor="let f of friends">{{ f }}</li>
        </ul>
    </div>


</div>